#catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 130px;
  margin-right: 130px;
}

.product {
  width: 200px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.description {
  text-align:start;
  color:slategray;
}

.price {
  text-align: center;
  font-weight: bold;
  background-color:darkslategray;
  color: white;
}

.img {
  width: 200px;
  height: 270px;
}

.purchase {
  display: flex;
  flex-direction: row;
}

.purchaseTitle, .purchasePrice {
  padding-right: 20px;
}

.purchaseTitle {
  text-transform: lowercase;
}

#basket {
  color: darkslategray;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.total {
  color: firebrick;
  margin-top: 10px;
  margin-bottom: 10px;
}
