#catalog {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 130px;
    margin-right: 130px;
}

.product {
    width: 380px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.description {
    text-align:start;
    color:slategray;
}

.price {
    text-align: center;
    font-weight: bold;
    background-color:darkslategray;
    color: white;
}